@model IlvtuManage.Models.TravelPlan
@{
    ViewBag.Title = "修改旅游线路";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>修改规划</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("旅游线路名",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("线路详细说明事项", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TravelInfo, new { @style="width:100%;height:200px"})
                @Html.ValidationMessageFor(model => model.TravelInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("总体预算", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.EditorFor(model => model.TravelCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("旅游类型", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList( "travelType")
                @Html.ValidationSummary(false,"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("旅游天数", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelDays, "", new { @class = "text-danger" })
            </div>
        </div>           
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存修改" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回工作平台", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
